# Prerequisites

1. Create DataFrame

In [0]:
user_df = spark.read.csv(path="/FileStore/users_001.csv",
                         header=True,
                         inferSchema=True)
user_df.limit(4).display()

id,age,gen,designation,salary
1,26,M,Technician,85711
2,53,F,Other,94043
3,23,M,Writer,32067
4,26,M,technician,43537

# Basic Operations

In [0]:
user_df.show(n=10,truncate=False)
user_df.printSchema()

+---+---+---+-----------------------+------+
|id |age|gen|designation            |salary|
+---+---+---+-----------------------+------+
|1  |26 |M  |Technician             |85711 |
|2  |53 |F  |Other                  |94043 |
|3  |23 |M  |Writer                 |32067 |
|4  |26 |M  |Technician             |43537 |
|5  |33 |F  |Other                  |15213 |
|6  |42 |M  |Cheif Executive Officer|98101 |
|7  |57 |M  |Administrator          |91344 |
|8  |36 |M  |Administrator          |5201  |
|9  |29 |M  |Student                |1002  |
|10 |53 |M  |Lawyer                 |90703 |
+---+---+---+-----------------------+------+
only showing top 10 rows

root
 |-- id: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- gen: string (nullable = true)
 |-- designation: string (nullable = true)
 |-- salary: integer (nullable = true)

In [0]:
user_df.columns

Out[7]: ['id', 'age', 'gen', 'designation', 'salary']

## Selecting Columns

.select is a transformation

In [0]:
# df = user_df.select("id","gen")
# df.limit(4).display()

user_df.select("id","gen").limit(4).display()

id,gen
1,M
2,F
3,M
4,M

In [0]:
from pyspark.sql.functions import col

user_df.select(col("id").alias("user_id"), 
               col("gen").alias("gender")).limit(4).display()

user_id,gender
1,M
2,F
3,M
4,M

# Filter Operations

In [0]:
from pyspark.sql.functions import lower
user_df.filter(lower(col("designation"))=="technician").limit(4).show()

+---+---+---+-----------+------+
| id|age|gen|designation|salary|
+---+---+---+-----------+------+
|  1| 26|  M| Technician| 85711|
|  4| 26|  M| technician| 43537|
| 44| 26|  M| Technician| 46260|
| 77| 30|  M| Technician| 29379|
+---+---+---+-----------+------+

In [0]:
user_df.filter((col("designation") == "Technician") & (col("gen") == "M")).count()

Out[24]: 6

In [0]:
user_df.filter(col("designation").isin("Technician","Other")).display()

id,age,gen,designation,salary
1,26,M,Technician,85711
2,53,F,Other,94043
5,33,F,Other,15213
11,39,F,Other,30329
12,28,F,Other,6405
18,35,F,Other,37212
38,28,F,Other,54467
44,26,M,Technician,46260
77,30,M,Technician,29379
83,40,M,Other,44133
109,29,M,Other,55423
120,47,F,Other,6260
132,24,M,Other,94612
136,51,M,Other,97365
142,13,M,Other,48118
143,42,M,Technician,8832
155,32,F,Other,11217
165,20,F,Other,53715
167,37,M,Other,55113
168,48,M,Other,80127
169,52,F,Other,53705
173,56,M,Other,22306
178,26,M,Other,49512
197,55,M,Technician,75094
217,22,M,Other,11727
244,28,M,Technician,100005
245,26,F,Technician,110000

# Derive Columns

In [0]:
user_df.limit(4).display()

id,age,gen,designation,salary
1,26,M,Technician,85711
2,53,F,Other,94043
3,23,M,Writer,32067
4,26,M,technician,43537

In [0]:
from pyspark.sql.functions import lit
user_df.withColumn("salary_category", lit("Yes")).limit(4).display()

id,age,gen,designation,salary,is_alive
1,26,M,Technician,85711,Yes
2,53,F,Other,94043,Yes
3,23,M,Writer,32067,Yes
4,26,M,technician,43537,Yes

In [0]:
from pyspark.sql.functions import when
user_df.withColumn("salary_category", when(col("salary")>=80000,"High Paid")
                   .when((col("salary")>=50000) & (col("salary")<20000),"Medium Paid")
                   .otherwise("No Paid") 
                   ).limit(4).display()

id,age,gen,designation,salary,salary_category
1,26,M,Technician,85711,High Paid
2,53,F,Other,94043,High Paid
3,23,M,Writer,32067,No Paid
4,26,M,technician,43537,No Paid

In [0]:
user_df.selectExpr("*",
                   """
                   CASE
                   WHEN salary > 80000 THEN 'HIGH PAID'
                   WHEN salary > 20000 and salary < 80000 THEN 'Medium PAID'
                   ELSE 'No Paid' 
                   END AS salary_category
                   """).limit(4).display()

id,age,gen,designation,salary,salary_category
1,26,M,Technician,85711,HIGH PAID
2,53,F,Other,94043,HIGH PAID
3,23,M,Writer,32067,Medium PAID
4,26,M,technician,43537,Medium PAID

In [0]:
user_df.createOrReplaceGlobalTempView("user_gvw")

In [0]:
user_df.createOrReplaceTempView("user_vw")
spark.sql("""
          SELECT *, 
          CASE
                   WHEN salary > 80000 THEN 'HIGH PAID'
                   WHEN salary > 20000 and salary < 80000 THEN 'Medium PAID'
                   ELSE 'No Paid' 
                   END AS salary_category
                   FROM user_vw
          """).display()

id,age,gen,designation,salary,salary_category
1,26,M,Technician,85711,HIGH PAID
2,53,F,Other,94043,HIGH PAID
3,23,M,Writer,32067,Medium PAID
4,26,M,technician,43537,Medium PAID
5,33,F,Other,15213,No Paid
6,42,M,Cheif Executive Officer,98101,HIGH PAID
7,57,M,Administrator,91344,HIGH PAID
8,36,M,Administrator,5201,No Paid
9,29,M,Student,1002,No Paid
10,53,M,Lawyer,90703,HIGH PAID
11,39,F,Other,30329,Medium PAID
12,28,F,Other,6405,No Paid
13,47,M,Educator,29206,Medium PAID
14,45,M,Scientist,55106,Medium PAID
15,49,F,Educator,97301,HIGH PAID
16,21,M,Entertainment,10309,No Paid
17,30,M,Programmer,6355,No Paid
18,35,F,Other,37212,Medium PAID
19,40,M,Librarian,2138,No Paid
20,42,F,Homemaker,95660,HIGH PAID
21,26,M,Writer,30068,Medium PAID
22,25,M,Writer,40206,Medium PAID
23,30,F,Artist,48197,Medium PAID
24,21,F,Artist,94533,HIGH PAID
25,39,M,Engineer,55107,Medium PAID
26,49,M,Engineer,21044,Medium PAID
27,40,F,Librarian,30030,Medium PAID
28,32,M,Writer,55369,Medium PAID
29,41,M,Programmer,94043,HIGH PAID
30,7,M,Student,55436,Medium PAID
31,24,M,Artist,10003,No Paid
32,28,F,Student,78741,Medium PAID
33,23,M,Student,27510,Medium PAID
34,38,F,Administrator,42141,Medium PAID
35,20,F,Homemaker,42459,Medium PAID
36,19,F,Student,93117,HIGH PAID
37,23,M,Student,55105,Medium PAID
38,28,F,Other,54467,Medium PAID
39,41,M,Entertainment,1040,No Paid
40,38,M,Scientist,27514,Medium PAID
41,33,M,Engineer,80525,HIGH PAID
42,30,M,Administrator,17870,No Paid
43,29,F,Librarian,20854,Medium PAID
44,26,M,Technician,46260,Medium PAID
45,29,M,Programmer,50233,Medium PAID
46,27,F,marketing,46538,Medium PAID
47,53,M,marketing,7102,No Paid
48,45,M,Administrator,12550,No Paid
49,23,F,Student,76111,Medium PAID
50,21,M,Writer,52245,Medium PAID
51,28,M,Educator,16509,No Paid
52,18,F,Student,55105,Medium PAID
53,26,M,Programmer,55414,Medium PAID
54,22,M,Cheif Executive Officer,66315,Medium PAID
55,37,M,Programmer,1331,No Paid
56,25,M,Librarian,46260,Medium PAID
57,16,M,Cheif Cheif Executive Officer Officer,84010,HIGH PAID
58,27,M,Programmer,52246,Medium PAID
59,49,M,Educator,8403,No Paid
60,50,M,healthcare,6472,No Paid
61,36,M,Engineer,30040,Medium PAID
62,27,F,Administrator,97214,HIGH PAID
63,31,M,marketing,75240,Medium PAID
64,32,M,Educator,43202,Medium PAID
65,51,F,Educator,48118,Medium PAID
66,23,M,Student,80521,HIGH PAID
67,17,M,Student,60402,Medium PAID
68,19,M,Student,22904,Medium PAID
69,24,M,Engineer,55337,Medium PAID
70,27,M,Engineer,60067,Medium PAID
71,39,M,Scientist,98034,HIGH PAID
72,48,F,Administrator,73034,Medium PAID
73,24,M,Student,41850,Medium PAID
74,39,M,Scientist,41850,Medium PAID
75,24,M,Entertainment,8816,No Paid
76,20,M,Student,2215,No Paid
77,30,M,Technician,29379,Medium PAID
78,26,M,Administrator,61801,Medium PAID
79,39,F,Administrator,3755,No Paid
80,34,F,Administrator,52241,Medium PAID
81,21,M,Student,21218,Medium PAID
82,50,M,Programmer,22902,Medium PAID
83,40,M,Other,44133,Medium PAID
84,32,M,Cheif Executive Officer,55369,Medium PAID
85,51,M,Educator,20003,Medium PAID
86,26,M,Administrator,46005,Medium PAID
87,47,M,Administrator,89503,HIGH PAID
88,49,F,Librarian,11701,No Paid
89,43,F,Administrator,68106,Medium PAID
90,60,M,Educator,78155,Medium PAID
91,55,M,marketing,1913,No Paid
92,32,M,Entertainment,80525,HIGH PAID
93,48,M,Cheif Executive Officer,23112,Medium PAID
94,26,M,Student,71457,Medium PAID
95,31,M,Administrator,10707,No Paid
96,25,F,Artist,75206,Medium PAID
97,43,M,Artist,98006,HIGH PAID
98,49,F,Cheif Executive Officer,90291,HIGH PAID
99,20,M,Student,63129,Medium PAID
100,36,M,Cheif Executive Officer,90254,HIGH PAID
101,15,M,Student,5146,No Paid
102,38,M,Programmer,30220,Medium PAID
103,26,M,Student,55108,Medium PAID
104,27,M,Student,55108,Medium PAID
105,24,M,Engineer,94043,HIGH PAID
106,61,M,retired,55125,Medium PAID
107,39,M,Scientist,60466,Medium PAID
108,44,M,Educator,63130,Medium PAID
109,29,M,Other,55423,Medium PAID
110,19,M,Student,77840,Medium PAID
111,57,M,Engineer,90630,HIGH PAID
112,30,M,salesman,60613,Medium PAID
113,47,M,Cheif Executive Officer,95032,HIGH PAID
114,27,M,Programmer,75013,Medium PAID
115,31,M,Engineer,17110,No Paid
116,40,M,healthcare,97232,HIGH PAID
117,20,M,Student,16125,No Paid
118,21,M,Administrator,90210,HIGH PAID
119,32,M,Programmer,67401,Medium PAID
120,47,F,Other,6260,No Paid
121,54,M,Librarian,99603,HIGH PAID
122,32,F,Writer,22206,Medium PAID
123,48,F,Artist,20008,Medium PAID
124,34,M,Student,60615,Medium PAID
125,30,M,Lawyer,22202,Medium PAID
126,28,F,Lawyer,20015,Medium PAID
127,33,M,cheif Cheif Executive Officer Officer,73439,Medium PAID
128,24,F,marketing,20009,Medium PAID
129,36,F,marketing,7039,No Paid
130,20,M,cheif Cheif Executive Officer Officer,60115,Medium PAID
131,59,F,Administrator,15237,No Paid
132,24,M,Other,94612,HIGH PAID
133,53,M,Engineer,78602,Medium PAID
134,31,M,Programmer,80236,HIGH PAID
135,23,M,Student,38401,Medium PAID
136,51,M,Other,97365,HIGH PAID
137,50,M,Educator,84408,HIGH PAID
138,46,M,doctor,53211,Medium PAID
139,20,M,Student,8904,No Paid
140,30,F,Student,32250,Medium PAID
141,49,M,Programmer,36117,Medium PAID
142,13,M,Other,48118,Medium PAID
143,42,M,Technician,8832,No Paid
144,53,M,Programmer,20910,Medium PAID
145,31,M,Entertainment,20910,Medium PAID
146,45,M,Artist,83814,HIGH PAID
147,40,F,Librarian,2143,No Paid
148,33,M,Engineer,97006,HIGH PAID
149,35,F,marketing,17325,No Paid
150,20,F,Artist,2139,No Paid
151,38,F,Administrator,48103,Medium PAID
152,33,F,Educator,68767,Medium PAID
153,25,M,Student,60641,Medium PAID
154,25,M,Student,53703,Medium PAID
155,32,F,Other,11217,No Paid
156,25,M,Educator,8360,No Paid
157,57,M,Engineer,70808,Medium PAID
158,50,M,Educator,27606,Medium PAID
159,23,F,Student,55346,Medium PAID
160,27,M,Programmer,66215,Medium PAID
161,50,M,Lawyer,55104,Medium PAID
162,25,M,Artist,15610,No Paid
163,49,M,Administrator,97212,HIGH PAID
164,47,M,healthcare,80123,HIGH PAID
165,20,F,Other,53715,Medium PAID
166,47,M,Educator,55113,Medium PAID
167,37,M,Other,55113,Medium PAID
168,48,M,Other,80127,HIGH PAID
169,52,F,Other,53705,Medium PAID
170,53,F,healthcare,30067,Medium PAID
171,48,F,Educator,78750,Medium PAID
172,55,M,marketing,22207,Medium PAID
173,56,M,Other,22306,Medium PAID
174,30,F,Administrator,52302,Medium PAID
175,26,F,Scientist,21911,Medium PAID
176,28,M,Scientist,7030,No Paid
177,20,M,Programmer,19104,No Paid
178,26,M,Other,49512,Medium PAID
179,15,M,Entertainment,20755,Medium PAID
180,22,F,Administrator,60202,Medium PAID
181,26,M,Cheif Executive Officer,21218,Medium PAID
182,36,M,Programmer,33884,Medium PAID
183,33,M,Scientist,27708,Medium PAID
184,37,M,Librarian,76013,Medium PAID
185,53,F,Librarian,97403,HIGH PAID
186,39,F,Cheif Executive Officer,0,No Paid
187,26,M,Educator,16801,No Paid
188,42,M,Student,29440,Medium PAID
189,32,M,Artist,95014,HIGH PAID
190,30,M,Administrator,95938,HIGH PAID
191,33,M,Administrator,95161,HIGH PAID
192,42,M,Educator,90840,HIGH PAID
193,29,M,Student,49931,Medium PAID
194,38,M,Administrator,2154,No Paid
195,42,M,Scientist,93555,HIGH PAID
196,49,M,Writer,55105,Medium PAID
197,55,M,Technician,75094,Medium PAID
198,21,F,Student,55414,Medium PAID
199,30,M,Writer,17604,No Paid
200,40,M,Programmer,93402,HIGH PAID
201,27,M,Writer,93402,HIGH PAID
202,41,F,Educator,60201,Medium PAID
203,25,F,Student,32301,Medium PAID
204,52,F,Librarian,10960,No Paid
205,47,M,Lawyer,6371,No Paid
206,14,F,Student,53115,Medium PAID
207,39,M,marketing,92037,HIGH PAID
208,43,M,Engineer,1720,No Paid
209,33,F,Educator,85710,HIGH PAID
210,39,M,Engineer,3060,No Paid
211,66,M,salesman,32605,Medium PAID
212,49,F,Educator,61401,Medium PAID
213,33,M,Cheif Executive Officer,55345,Medium PAID
214,26,F,Librarian,11231,No Paid
215,35,M,Programmer,63033,Medium PAID
216,22,M,Engineer,2215,No Paid
217,22,M,Other,11727,No Paid
218,37,M,Administrator,6513,No Paid
219,32,M,Programmer,43212,Medium PAID
220,30,M,Librarian,78205,Medium PAID
221,19,M,Student,20685,Medium PAID
222,29,M,Programmer,27502,Medium PAID
223,19,F,Student,47906,Medium PAID
224,31,F,Educator,43512,Medium PAID
225,51,F,Administrator,58202,Medium PAID
226,28,M,Student,92103,HIGH PAID
227,46,M,Cheif Executive Officer,60659,Medium PAID
228,21,F,Student,22003,Medium PAID
229,29,F,Librarian,22903,Medium PAID
230,28,F,Student,14476,No Paid
231,48,M,Librarian,1080,No Paid
232,45,M,Scientist,99709,HIGH PAID
233,38,M,Engineer,98682,HIGH PAID
234,60,M,retired,94702,HIGH PAID
235,37,M,Educator,22973,Medium PAID
236,44,F,Writer,53214,Medium PAID
237,49,M,Administrator,63146,Medium PAID
238,42,F,Administrator,44124,Medium PAID
239,39,M,Artist,95628,HIGH PAID
240,23,F,Educator,20784,Medium PAID
241,26,F,Student,20001,Medium PAID
242,33,M,Educator,31404,Medium PAID
243,33,M,Educator,60201,Medium PAID
244,28,M,Technician,100005,HIGH PAID
245,26,F,Technician,110000,HIGH PAID

# Grouping, Aggregations and Sorting

In [0]:
user_df.limit(4).display()

id,age,gen,designation,salary
1,26,M,Technician,85711
2,53,F,Other,94043
3,23,M,Writer,32067
4,26,M,technician,43537

In [0]:
user_df.groupBy("designation","gen").count().show(truncate=False)

+-----------------------+---+-----+
|designation            |gen|count|
+-----------------------+---+-----+
|technician             |M  |1    |
|Technician             |M  |6    |
|Programmer             |M  |20   |
|healthcare             |F  |1    |
|marketing              |M  |5    |
|Other                  |M  |10   |
|doctor                 |M  |1    |
|Artist                 |F  |5    |
|Writer                 |M  |8    |
|Lawyer                 |M  |4    |
|Administrator          |M  |15   |
|healthcare             |M  |3    |
|Cheif Executive Officer|M  |9    |
|Scientist              |F  |1    |
|Librarian              |M  |6    |
|Homemaker              |F  |2    |
|Other                  |F  |10   |
|Administrator          |F  |12   |
|Engineer               |M  |16   |
|Educator               |F  |9    |
+-----------------------+---+-----+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import sum

user_df.groupBy("designation").agg(sum("salary").alias("sum_salary")).sort(
    col("sum_salary"), ascending=False
).limit(4).display()

designation,sum_salary
Student,1762385
Administrator,1399976
Educator,1220858
Programmer,938773

In [0]:
from pyspark.sql.functions import sum

user_df.groupBy("designation").agg(sum("salary").alias("sum_salary")).sort(
    col("sum_salary").desc()
).limit(4).display()

designation,sum_salary
Student,1762385
Administrator,1399976
Educator,1220858
Programmer,938773

In [0]:
from pyspark.sql.functions import sum, avg,count
user_df.groupBy("designation").agg(sum("salary").alias("sum_salary"),
                                   avg("salary").alias("avg_salary")).display()

designation,sum_salary,avg_salary
Scientist,532883,53288.3
retired,149827,74913.5
Entertainment,142355,23725.833333333332
Student,1762385,45189.35897435898
Lawyer,194395,38879.0
Homemaker,138119,69059.5
Writer,451486,45148.6
marketing,289410,32156.666666666668
Programmer,938773,46938.65
Other,921002,46050.1
Cheif Executive Officer,655696,59608.72727272727
Librarian,510524,36466.0
Technician,455281,65040.142857142855
salesman,93218,46609.0
Artist,638158,58014.36363636364
technician,43537,43537.0
healthcare,213894,53473.5
cheif Cheif Executive Officer Officer,133554,66777.0
Engineer,855996,53499.75
Administrator,1399976,51850.96296296296
Educator,1220858,48834.32
doctor,53211,53211.0
Cheif Cheif Executive Officer Officer,84010,84010.0

# Handling Missing / Null Records

## Prerequisites

In [0]:
employee_df = spark.read.csv(path="dbfs:/FileStore/synechron/employee-1.csv",
                             header=True,
                             inferSchema=True,
                             sep="|",
                             quote="'")
employee_df.display()

col_id,col_name,col_exp,col_gen,col_dob,col_company,col_desig,col_doj,col_skills,col_previous_expected_salary
101,Agastya,1,M,1987-01-22,Infosys,Developer,2015-01-21,"Hadoop,PySpark,Azure","1950000,1600000"
102,Acyuta,2,F,1987-03-29,TCS,Team Lead,2016-01-21,"C,C++,Java","1150000,1500000"
103,Anuvrata,1,M,1987-01-22,Infosys,Developer,2017-01-21,"Java,Python,Hadoop","1250000,1300000"
null,Bhavika,6,F,1987-01-22,Infosys,Team lead,2015-01-21,"Hadoop,PySpark,Kafka",null
105,Chitragandha,null,M,1987-01-22,CTS,Developer,null,"C,C++,Java","1200000,1400000"
106,Hritika,9,F,1987-01-22,Cisco,Developer,2016-01-21,"C,C++,Java","950000,1300000"
107,Jigyasa,12,M,1987-01-22,Infosys,Team Lead,2005-01-21,"Hadoop,PySpark,Kafka","200000,2100000"
108,Kaveri,4,F,1987-01-22,cisco,R&D Engineer,2015-01-21,"C,PySpark,Azure,AWS","3050000,2500000"
109,null,8,M,1987-01-22,null,Developer,2008-01-21,"C,C++,Java","1050000,1100000"
110,Vin,null,T,1987-01-22,CTS,Team Lead,2020-01-21,"Hadoop,PySpark,Kafka,Kafka","1550000,1400000"
null,null,null,null,null,null,null,null,null,null

In [0]:
employee_df.na.drop().display()

col_id,col_name,col_exp,col_gen,col_dob,col_company,col_desig,col_doj,col_skills,col_previous_expected_salary
101,Agastya,1,M,1987-01-22,Infosys,Developer,2015-01-21,"Hadoop,PySpark,Azure","1950000,1600000"
102,Acyuta,2,F,1987-03-29,TCS,Team Lead,2016-01-21,"C,C++,Java","1150000,1500000"
103,Anuvrata,1,M,1987-01-22,Infosys,Developer,2017-01-21,"Java,Python,Hadoop","1250000,1300000"
106,Hritika,9,F,1987-01-22,Cisco,Developer,2016-01-21,"C,C++,Java","950000,1300000"
107,Jigyasa,12,M,1987-01-22,Infosys,Team Lead,2005-01-21,"Hadoop,PySpark,Kafka","200000,2100000"
108,Kaveri,4,F,1987-01-22,cisco,R&D Engineer,2015-01-21,"C,PySpark,Azure,AWS","3050000,2500000"

In [0]:
employee_df.na.drop(subset=["col_id","col_name"]).display()

col_id,col_name,col_exp,col_gen,col_dob,col_company,col_desig,col_doj,col_skills,col_previous_expected_salary
101,Agastya,1,M,1987-01-22,Infosys,Developer,2015-01-21,"Hadoop,PySpark,Azure","1950000,1600000"
102,Acyuta,2,F,1987-03-29,TCS,Team Lead,2016-01-21,"C,C++,Java","1150000,1500000"
103,Anuvrata,1,M,1987-01-22,Infosys,Developer,2017-01-21,"Java,Python,Hadoop","1250000,1300000"
105,Chitragandha,null,M,1987-01-22,CTS,Developer,null,"C,C++,Java","1200000,1400000"
106,Hritika,9,F,1987-01-22,Cisco,Developer,2016-01-21,"C,C++,Java","950000,1300000"
107,Jigyasa,12,M,1987-01-22,Infosys,Team Lead,2005-01-21,"Hadoop,PySpark,Kafka","200000,2100000"
108,Kaveri,4,F,1987-01-22,cisco,R&D Engineer,2015-01-21,"C,PySpark,Azure,AWS","3050000,2500000"
110,Vin,null,T,1987-01-22,CTS,Team Lead,2020-01-21,"Hadoop,PySpark,Kafka,Kafka","1550000,1400000"

In [0]:
employee_df.display()

col_id,col_name,col_exp,col_gen,col_dob,col_company,col_desig,col_doj,col_skills,col_previous_expected_salary
101,Agastya,1,M,1987-01-22,Infosys,Developer,2015-01-21,"Hadoop,PySpark,Azure","1950000,1600000"
102,Acyuta,2,F,1987-03-29,TCS,Team Lead,2016-01-21,"C,C++,Java","1150000,1500000"
103,Anuvrata,1,M,1987-01-22,Infosys,Developer,2017-01-21,"Java,Python,Hadoop","1250000,1300000"
null,Bhavika,6,F,1987-01-22,Infosys,Team lead,2015-01-21,"Hadoop,PySpark,Kafka",null
105,Chitragandha,null,M,1987-01-22,CTS,Developer,null,"C,C++,Java","1200000,1400000"
106,Hritika,9,F,1987-01-22,Cisco,Developer,2016-01-21,"C,C++,Java","950000,1300000"
107,Jigyasa,12,M,1987-01-22,Infosys,Team Lead,2005-01-21,"Hadoop,PySpark,Kafka","200000,2100000"
108,Kaveri,4,F,1987-01-22,cisco,R&D Engineer,2015-01-21,"C,PySpark,Azure,AWS","3050000,2500000"
109,null,8,M,1987-01-22,null,Developer,2008-01-21,"C,C++,Java","1050000,1100000"
110,Vin,null,T,1987-01-22,CTS,Team Lead,2020-01-21,"Hadoop,PySpark,Kafka,Kafka","1550000,1400000"

In [0]:
employee_df.na.fill("NULL IN SOURCE").na.fill(-1,subset=["col_id"]).na.fill(0,subset=["col_exp"]).display()

col_id,col_name,col_exp,col_gen,col_dob,col_company,col_desig,col_doj,col_skills,col_previous_expected_salary
101,Agastya,1,M,1987-01-22,Infosys,Developer,2015-01-21,"Hadoop,PySpark,Azure","1950000,1600000"
102,Acyuta,2,F,1987-03-29,TCS,Team Lead,2016-01-21,"C,C++,Java","1150000,1500000"
103,Anuvrata,1,M,1987-01-22,Infosys,Developer,2017-01-21,"Java,Python,Hadoop","1250000,1300000"
-1,Bhavika,6,F,1987-01-22,Infosys,Team lead,2015-01-21,"Hadoop,PySpark,Kafka",NULL IN SOURCE
105,Chitragandha,0,M,1987-01-22,CTS,Developer,null,"C,C++,Java","1200000,1400000"
106,Hritika,9,F,1987-01-22,Cisco,Developer,2016-01-21,"C,C++,Java","950000,1300000"
107,Jigyasa,12,M,1987-01-22,Infosys,Team Lead,2005-01-21,"Hadoop,PySpark,Kafka","200000,2100000"
108,Kaveri,4,F,1987-01-22,cisco,R&D Engineer,2015-01-21,"C,PySpark,Azure,AWS","3050000,2500000"
109,NULL IN SOURCE,8,M,1987-01-22,NULL IN SOURCE,Developer,2008-01-21,"C,C++,Java","1050000,1100000"
110,Vin,0,T,1987-01-22,CTS,Team Lead,2020-01-21,"Hadoop,PySpark,Kafka,Kafka","1550000,1400000"

In [0]:
employee_df.printSchema()

root
 |-- col_id: integer (nullable = true)
 |-- col_name: string (nullable = true)
 |-- col_exp: integer (nullable = true)
 |-- col_gen: string (nullable = true)
 |-- col_dob: date (nullable = true)
 |-- col_company: string (nullable = true)
 |-- col_desig: string (nullable = true)
 |-- col_doj: date (nullable = true)
 |-- col_skills: string (nullable = true)
 |-- col_previous_expected_salary: string (nullable = true)

In [0]:
employee_df.columns

Out[65]: ['col_id',
 'col_name',
 'col_exp',
 'col_gen',
 'col_dob',
 'col_company',
 'col_desig',
 'col_doj',
 'col_skills',
 'col_previous_expected_salary']

In [0]:
employee_df.filter(col("col_id").is)

In [0]:
filtered_df = employee_df.filter(~(col("col_id").isNull() & col("col_previous_expected_salary").isNull()))
filtered_df.display()

col_id,col_name,col_exp,col_gen,col_dob,col_company,col_desig,col_doj,col_skills,col_previous_expected_salary
101,Agastya,1,M,1987-01-22,Infosys,Developer,2015-01-21,"Hadoop,PySpark,Azure","1950000,1600000"
102,Acyuta,2,F,1987-03-29,TCS,Team Lead,2016-01-21,"C,C++,Java","1150000,1500000"
103,Anuvrata,1,M,1987-01-22,Infosys,Developer,2017-01-21,"Java,Python,Hadoop","1250000,1300000"
105,Chitragandha,null,M,1987-01-22,CTS,Developer,null,"C,C++,Java","1200000,1400000"
106,Hritika,9,F,1987-01-22,Cisco,Developer,2016-01-21,"C,C++,Java","950000,1300000"
107,Jigyasa,12,M,1987-01-22,Infosys,Team Lead,2005-01-21,"Hadoop,PySpark,Kafka","200000,2100000"
108,Kaveri,4,F,1987-01-22,cisco,R&D Engineer,2015-01-21,"C,PySpark,Azure,AWS","3050000,2500000"
109,null,8,M,1987-01-22,null,Developer,2008-01-21,"C,C++,Java","1050000,1100000"
110,Vin,null,T,1987-01-22,CTS,Team Lead,2020-01-21,"Hadoop,PySpark,Kafka,Kafka","1550000,1400000"

In [0]:
employee_df.filter(col("col_id").isNull() & col("col_previous_expected_salary").isNull()).display()

In [0]:
employee_df.display()

col_id,col_name,col_exp,col_gen,col_dob,col_company,col_desig,col_doj,col_skills,col_previous_expected_salary
101,Agastya,1,M,1987-01-22,Infosys,Developer,2015-01-21,"Hadoop,PySpark,Azure","1950000,1600000"
102,Acyuta,2,F,1987-03-29,TCS,Team Lead,2016-01-21,"C,C++,Java","1150000,1500000"
103,Anuvrata,1,M,1987-01-22,Infosys,Developer,2017-01-21,"Java,Python,Hadoop","1250000,1300000"
null,Bhavika,6,F,1987-01-22,Infosys,Team lead,2015-01-21,"Hadoop,PySpark,Kafka",null
105,Chitragandha,null,M,1987-01-22,CTS,Developer,null,"C,C++,Java","1200000,1400000"
106,Hritika,9,F,1987-01-22,Cisco,Developer,2016-01-21,"C,C++,Java","950000,1300000"
107,Jigyasa,12,M,1987-01-22,Infosys,Team Lead,2005-01-21,"Hadoop,PySpark,Kafka","200000,2100000"
108,Kaveri,4,F,1987-01-22,cisco,R&D Engineer,2015-01-21,"C,PySpark,Azure,AWS","3050000,2500000"
109,null,8,M,1987-01-22,null,Developer,2008-01-21,"C,C++,Java","1050000,1100000"
110,Vin,null,T,1987-01-22,CTS,Team Lead,2020-01-21,"Hadoop,PySpark,Kafka,Kafka","1550000,1400000"
null,null,null,null,null,null,null,null,null,null

# Working with Complex Types

In [0]:
from pyspark.sql.functions import split

result_df = (
    employee_df.withColumn("col_skills_temp", split(col("col_skills"), ","))
    .drop("col_skills")
    .withColumnRenamed("col_skills_temp", "col_skills")
)
result_df.printSchema()

root
 |-- col_id: integer (nullable = true)
 |-- col_name: string (nullable = true)
 |-- col_exp: integer (nullable = true)
 |-- col_gen: string (nullable = true)
 |-- col_dob: date (nullable = true)
 |-- col_company: string (nullable = true)
 |-- col_desig: string (nullable = true)
 |-- col_doj: date (nullable = true)
 |-- col_previous_expected_salary: string (nullable = true)
 |-- col_skills: array (nullable = true)
 |    |-- element: string (containsNull = false)

In [0]:
from pyspark.sql.functions import array_contains
result_df.filter(array_contains(col("col_skills"),"PySpark")).display()

col_id,col_name,col_exp,col_gen,col_dob,col_company,col_desig,col_doj,col_previous_expected_salary,col_skills
101,Agastya,1,M,1987-01-22,Infosys,Developer,2015-01-21,"1950000,1600000","List(Hadoop, PySpark, Azure)"
null,Bhavika,6,F,1987-01-22,Infosys,Team lead,2015-01-21,null,"List(Hadoop, PySpark, Kafka)"
107,Jigyasa,12,M,1987-01-22,Infosys,Team Lead,2005-01-21,"200000,2100000","List(Hadoop, PySpark, Kafka)"
108,Kaveri,4,F,1987-01-22,cisco,R&D Engineer,2015-01-21,"3050000,2500000","List(C, PySpark, Azure, AWS)"
110,Vin,null,T,1987-01-22,CTS,Team Lead,2020-01-21,"1550000,1400000","List(Hadoop, PySpark, Kafka, Kafka)"